.wrapper {
  height: 100%;
  height: calc(100vh - (var(--edge-padding-v) * 2));
  display: grid;
  grid-template-rows: min-content 1fr;
  grid-gap: 1rem;
}

.wrapper p {
  max-width: 40rem;
}

.nav {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;
  margin-bottom: 3rem;
}

.nav a {
  justify-self: start;
}

.nav *:nth-child(2n + 2) {
  justify-self: end;
  text-align: right;
}
