.button {
  background: transparent;
  outline: none;
  padding: 0;
  color: var(--foreground);
}

.button:hover {
  color: var(--background);
  background: var(--foreground);
  box-shadow: 0 0 0 4px var(--foreground);
}

.button:focus {
  color: var(--foreground);
  background: var(--accent);
  box-shadow: 0 0 0 4px var(--accent);
  text-decoration: none;
}

.button:focus:hover {
  color: var(--background);
  background: var(--foreground);
  box-shadow: 0 0 0 4px var(--foreground);
}

.underlined {
  text-decoration: underline;
}

@media (prefers-color-scheme: light) {
  .button:focus {
    color: var(--foreground);
  }
}
