.page {
  max-width: 36rem;
  margin: 0 auto;
  padding: var(--edge-padding-v) var(--edge-padding-h);
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1rem;
}

.header {
  display: grid;
  grid-template-columns: 1fr max-content;
}

.connectButton {
  width: 100%;
  display: inline-flex;
  align-items: center;
  padding: 1rem;
}

.connectButton:hover {
  background-color: var(--accent);
  color: var(--foreground);
}

.connectButton:focus-visible {
  color: var(--foreground);
  background: var(--accent);
  box-shadow: 0 0 0 4px var(--foreground);
  text-decoration: none;
  outline: none;
}

.connectButton svg {
  width: 1rem;
  margin-right: 0.5rem;
}
