.overlay[data-reach-dialog-overlay] {
  z-index: 1000;
  background: var(--background);
}

.content[data-reach-dialog-content] {
  width: 100%;
  margin: 0;
  padding: var(--edge-padding-v) var(--edge-padding-h);
  background: var(--background);
}
